
<launch>

  <node pkg="joy" type="joy_node" name="joystick">
    <rosparam>
      dev: /dev/input/js0
    </rosparam>
  </node>

  <node pkg="teleoperation" type="teleop_wheels.py" name="teleop_wheels" output="screen"/>

  <node pkg="hebiros" type="hebiros_node" name="hebi"/>

  <node pkg="localization" type="base_localizer.py" name="base_localizer" output="screen"/>
</launch>
